:root {
  --dse-body-text-color: #{$dark};
  --dse-body-bg-color: #{$white};
  --dse-btn-primary-color: #{$white};
  --dse-btn-primary-bg: #{$green};
  --dse-btn-primary-bg-hover: #{$green-light};
  --dse-btn-secondary-color: #{$white};
  --dse-btn-secondary-bg: #{$dark};
  --dse-form-color: #{$dark};
  --dse-form-bg: #{$white};
  --dse-form-error-color: #{$red};
  --dse-form-error-border: #{$red};
  --dse-form-border-focus-color: #{$green};
  --dse-appbar-bg-white: #{$white};
  --dse-appbar-raised: #{$raised};
  --dse-appbar-color-white: #{$gray};
  --dse-appbar-bg-primary: #{$primary};
  --dse-appbar-color-primary: #{$white};
  --dse-fab-bg-primary: #{$primary};
  --dse-fab-hover-primary: #{$primary-light};
  --dse-fab-clicked-primary: #{$primary-light};
  --dse-fab-bg-secondary: #{$secondary};
  --dse-fab-hover-secondary: #{$secondary-light};
  --dse-fab-clicked-secondary: #{$secondary-light};
  --dse-fab-raised: #{$raised};
  --dse-body-font-size: #{$fs-base};
  --dse-body-font-weight: #{$fw-normal};
  --dse-h-1-font-size: #{$h-1};
  --dse-h-2-font-size: #{$h-2};
  --dse-h-3-font-size: #{$h-3};
  --dse-h-4-font-size: #{$h-4};
  --dse-h-5-font-size: #{$h-5};
  --dse-h-6-font-size: #{$h-6};
  --dse-h-1-font-weight: #{$fw-medium};
  --dse-h-2-font-weight: #{$fw-medium};
  --dse-h-3-font-weight: #{$fw-medium};
  --dse-h-4-font-weight: #{$fw-normal};
  --dse-h-5-font-weight: #{$fw-normal};
  --dse-h-6-font-weight: #{$fw-light};
}
